configuration {
    modi: "drun";
    font: "Comic Shanns Nerd Font 10";
    show-icons: true;
    icon-theme: "breeze-dark";
    drun-display-format: "{name}  {generic}";

    width: 600;
    location: 0;
    fullscreen: false;
    fixed-num-lines: true;
}

@theme "/home/leafman123/.config/rofi/opium-denum.rasi"
