input {
    keyboard {
        xkb {
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="0%"
}

layout {
    gaps 8
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 4
    }
    
    struts {
    }
}
animations {
    // Uncomment to turn off all animations.
    // You can also put "off" into each individual animation to disable it.

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    // Individual animations.

    workspace-switch {
	off
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
}

hotkey-overlay {
	skip-at-startup
}

binds {
    // --- General Binds ---
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }
    Mod+Tab { focus-workspace-previous; }

    Mod+Return { spawn "ghostty"; }
    Mod+B { spawn "firefox"; }
    Mod+E { spawn "dolphin";}
    Mod+C { spawn "code";}

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    
    // --- Window Movement ---
    Mod+Left { focus-column-left; }
    Mod+Down { focus-window-down; }
    Mod+Up { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Down { move-window-down; }
    Mod+Shift+Up { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    // --- Layout Control ---
    
    // Mimics Hyprland 'toggle split' / 'preserve_split' logic
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-window-to-edges; }
    Mod+Shift+F { fullscreen-window; }
    Mod+T { toggle-window-floating; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Minus { set-column-width "-10%"; }
    
    // Column management (Building the "Dwindle" stack)
    Mod+Comma  { consume-window-into-column; }
	Mod+Period { expel-window-from-column; }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    open-maximized-to-edges true
}
